<!DOCTYPE html>
<html lang="zh">
<head>
	<title>Rihcheng Customer Information </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS file -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Angular JS file -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- Angular UI Bootstrap file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap-tpls.min.js"></script>

  <script src="custinfo.js"></script>
</head>

<body ng-app="cust_uib_app" ng-controller="custInfoCtrl">
	<div class="container-fluid">
		<h2>客戶基本資料</h2>
	</div>

	<div class="container-fluid" >
		<form id="custForm">
			<div class="form-group row">
				<label for="custID" class="col-sm-1 col-form-label">客戶編號</label>
				<div class="col-sm-2">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="custID" placeholder="請輸入客戶編號">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" ng-click="lookupCustID()">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
				<label for="custSN" class="col-sm-1 col-form-label">客戶簡稱</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" ng-model="custSN" placeholder="請輸入客戶名稱">
				</div>
				<label for="custN" class="col-sm-1 col-form-label">客戶全名</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" ng-model="custN" placeholder="請輸入客戶全名">
				</div>
			</div>

			<div class="form-group row">
				<label for="custRegAddr" class="col-sm-1 col-form-label">登記地址</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="custRegAddr" placeholder="請輸入客戶登記地址">	
				</div>
			</div>

			<div class="form-group row">
				<label for="custShpAddr" class="col-sm-1 col-form-label">送貨地址</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="custShpAddr" placeholder="請輸入客戶出貨地址">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" ng-click="sameToRegaddr()">同上</button>
						</span>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label for="custCtPer" class="col-sm-1 col-form-label">連絡人</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" ng-model="custCtPer" placeholder="請輸入連絡人">	
				</div>
				<label for="custTel" class="col-sm-1 col-form-label">電話</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" ng-model="custTel" placeholder="電話號碼">	
				</div>
				<label for="custFax" class="col-sm-1 col-form-label">傳真</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" ng-model="custFax" placeholder="傳真號碼">	
				</div>
			</div>

			<div class="form-group row">
				<label for="custMbPh" class="col-sm-1 col-form-label">手機</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" ng-model="custMbPh" placeholder="手機號碼">	
				</div>
				<label for="custUniSN" class="col-sm-1 col-form-label">統一編號</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" ng-model="custUniSN" placeholder="公司統編">	
				</div>
			</div>
			<div class="form-group row">
				<label for="custMemo" class="col-sm-1 col-form-label">備註</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="custMemo" placeholder="備註">	
				</div>
			</div>
			<div class="form-group row">
        		<div class="col-sm-offset-1 col-sm-10">
            		<button type="submit" class="btn btn-primary" ng-click="addCust()">確定</button>
            		<button type="submit" class="btn btn-danger" ng-click="delCust()">刪除</button>
        		</div>
    		</div>
		</form>
	</div>

	<div class="container-fluid">
		<div class="table-responsive">
  		<table class="table">
  			<tr>
  				<th>客戶編號</th>
  				<th>名稱</th>
  				<th >出貨地址</th>
  				<th>電話</th>
  				<th>傳真</th>
  				<th>手機</th>
  			</tr>
  			<tr ng-repeat="cust in custs" ng-dblclick="selectCust(cust)">
  				<td> {{cust.id}} </td>
  				<td> {{cust.shortName}} </td>
  				<td> {{cust.shpAddr}} </td>
  				<td> {{cust.tel}} </td>
  				<td> {{cust.fax}} </td>
  				<td> {{cust.mobilePh}} </td>
  			</tr>
  		</table>
		</div>
	</div>

</body>
</html>