<!DOCTYPE html> 
<html lang="zh">
<head>
	<title>Rihcheng Manufacturing Item Information (with jQuery and Bootstrap)</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS file -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Angular JS file -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- Angular UI Bootstrap file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap-tpls.min.js"></script>

  <script src="itemInfo.js"></script>
</head>
<body ng-app="item_uib_app" ng-controller="itemInfoCtrl">
	<div class="container-fluid" id="nav-placeholder"></div>
	<div class="container-fluid">
		<h2>料件基本資料</h2>
	</div>
	<div class="container-fluid">
		<form>
			<div class="form-group row">
				<label for="inputItemNo" class="col-sm-1 col-form-label">料件編號</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="itemId" placeholder="請輸入料件編號">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" ng-click="lookupItemById()">
								<span class="glyphicon glyphicon-search">
							</button>
						</span>
					</div>
				</div>
				<label for="inputItemName" class="col-sm-1 col-form-label">料件名稱</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" ng-model="itemName" placeholder="請輸入料件名稱">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputItemMaterial" class="col-sm-1 col-form-label">料件材質</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="itemMatl" placeholder="請輸入料件材質">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
				<label for="inputItemSpec" class="col-form-label col-sm-1">料件規格</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" ng-model="itemSpec" placeholder="請輸入料件規格">
				</div>
			</div>

			<div class="form-group row">
				<label for="inputItemPurchasePrice" class="col-sm-1 col-form-label">料件進價</label>
				<div class="col-sm-3">
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="text" class="form-control" ng-model="itemPP" placeholder="進價">
						<span class="input-group-addon">.00 (TWD)</span>
					</div>
				</div>

				<label for="inputItemSellPrice" class="col-sm-1 col-form-label">料件售價</label>
				<div class="col-sm-3">
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="text" class="form-control" ng-model="itemSP" placeholder="售價">
						<span class="input-group-addon">.00 (TWD)</span>
					</div>
					
				</div>
			</div>
			<div class="form-group row">
				<label for="inputItemMemo" class="col-sm-1">備註</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" ng-model="itemMemo" placeholder="備註">
				</div>
			</div>

			<div class="form-group row">
        		<div class="col-sm-offset-1 col-sm-10">
            		<button type="submit" class="btn btn-primary" ng-click="addItem()">確定</button>
            		<button type="submit" class="btn btn-danger" ng-click="delItem()">刪除</button>
        		</div>
    	</div>
		</form>  		
	</div>

	<div class="container-fluid">
		<div class="table-responsive">
  		<table class="table">
  			<tr>
  				<th class="col-sm-2">料件編號</th>
  				<th class="col-sm-3">料件名稱</th>
  				<th>售價</th>
  			</tr>
  			<tr ng-repeat="item in items" ng-dblclick="selectItem(item)">
  				<td> {{item.id}} </td>
  				<td> {{item.name}} </td>
  				<td> {{item.sp}} </td>
  			</tr>
  		</table>
		</div>
	</div>

</body>
</html>