<!DOCTYPE html> 
<html lang="zh">
<head>
	<title>Rihcheng Shipper Information (with jQuery and Bootstrap)</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
  	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
  <!-- Bootstrap -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- User Application JS -->
  <script src="shipperInfo.js"></script>
</head>
<body ng-app="shpr_uib_app" ng-controller="shprInfoCtrl as $ctrl">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
      	<span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">出貨單</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
      <ul class="nav navbar-nav">
        <li><a href="#" ng-click="enableNewShprBtn()">新單</a></li>
        <li><a href="#">改單</a></li>
        <li><a href="#">刪單</a></li>
        <li><a href="#" ng-click="addNewShpItm()">新明細</a></li>
        <li><a href="#">改明細</a></li>
        <li><a href="#">刪明細</a></li>
        <li><a href="#">歷史訂單一覽</a></li>
      </ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" ng-click="addNewShpr()">儲存</a></li>
				<li><a href="#">離開</a></li>
			</ul>
    </div>
  </div>
</nav>

<div class="container-fluid">

	<!-- Web Form for creating new shipper -->
	<form>
		<div class="form-group row">
			<label for="inputShprID" class="col-sm-1 col-form-label">訂單編號</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" ng-model="shprID" placeholder="自動產生">
			</div>
			<label for="inputShprDate" class="col-sm-1 col-form-label">訂單日期</label>
			<div class="col-sm-2">
				<div class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="shprDate" is-open="popupDP.opened" ng-required="true" close-text="Close">
					<span class="input-group-btn">
							<button type="button" class="btn btn-primary" ng-click="opendp()">
								<span class="glyphicon glyphicon-calendar">
							</button>
					</span>	
				</div>
				
			</div>
			<label for="inputShprCust" class="col-sm-1 col-form-label">客戶代號</label>
			<div class="col-sm-2">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="shprCust" placeholder="客戶代號">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" ng-click="getCustIdList()">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>	
				</div>
				
			</div>
		</div>
		<div class="form-group row">
			<label for="inputShprAddr" class="col-sm-1 col-form-label">送貨地址</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" ng-model="shprAddr" placeholder="(自動填上出貨地址)">
			</div>
		</div>
		<div class="form-group row">
			<label for="inputShprPmtMeth" class="col-sm-1 col-form-label">付款方式</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" ng-model="shprPmtMeth" placeholder="付款方式">
			</div>
			<label for="inputShprMemo" class="col-sm-1 col-form-label">備註</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" ng-model="shprMemo" placeholder="備註">
			</div>
		</div>
	</form>

	<div class="container-fluid">
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>序號</th>
					<th>料件編號</th>
					<th>料件名稱</th>
					<th>單價</th>
					<th>數量</th>
					<th>未稅金額</th>
					<th></th>
				</tr>
				<tr ng-repeat="shprItem in shprItemList" ng-dblclick="modifyShpItm($index, shprItem)">
					<td> {{$index + 1}} </td>
					<td> {{shprItem.itemId}} </td>
					<td> {{shprItem.itemNm}} </td>
					<td> {{shprItem.sp}} </td>
					<td> {{shprItem.qty}} </td>
					<td> {{shprItem.sp * shprItem.qty}} </td>
					<td> <button class="btn btn-danger" type="button"><span aria-hidden="true">&times;</span></button> </td>>
				</tr>
			</table>
		</div>		
	</div>

	<!-- Modal dialog for adding new shipping item -->
  <script type="text/ng-template" id="shprItemModal.html">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">新增明細</h3>
      </div>
      <div class="modal-body" id="modal-body">
      	<div class="container-fluid">
      		<form class="form-horizontal">
      			<div class="form-group">
      				<label for="inputShprCustId" class="col-sm-3 col-form-label">客戶編號</label>
								<div class="col-sm-9">
									<div class="input-group">
										<input type="text" class="form-control" ng-model="$ctrl.shprCustId" placeholder="(自動抓取)">	
										<span class="input-group-addon">(客戶編號)</span>
									</div>
								</div>			
      			</div>
						<div class="form-group">
							<label for="inputShprItmNo" class="col-sm-3 col-form-label">料件編號</label>
							<div class="col-sm-9">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="$ctrl.shprItmNo" placeholder="料件編號">
									<span class="input-group-btn">
										<button type="button" class="btn btn-primary" ng-click="$ctrl.getItemList()">
											<span class="glyphicon glyphicon-search"></span>
										</button>
									</span>	
								</div>
							</div>
						</div>
      			<div class="form-group">
      				<label for="inputShprItemName" class="col-sm-3 col-form-label">料件名稱</label>
								<div class="col-sm-9">
									<div class="input-group">
										<input type="text" class="form-control" ng-model="$ctrl.shprItemName" placeholder="(自動抓取)">	
										<span class="input-group-addon"></span>
									</div>
								</div>			
      			</div>
						<div class="form-group">
							<label for="inputShprItmPr" class="col-sm-3 col-form-label">單價</label>
							<div class="col-sm-9">
								<div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control" ng-model="$ctrl.shprItmPr" placeholder="(從DB讀取)">	
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputShprItmQty" class="col-sm-3 col-form-label">數量</label>
							<div class="col-sm-9">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="$ctrl.shprItmQty" placeholder="(數量)">
									<span class="input-group-addon">PCS</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputShprItmNoTaxAmt" class="col-sm-3 col-form-label">未稅金額</label>
							<div class="col-sm-9">
								<div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control" ng-value="$ctrl.shprItmQty * $ctrl.shprItmPr" placeholder="(自動產生)">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputShprItmMemo" class="col-sm-3 col-form-label">備註</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="$ctrl.shprItmMemo" placeholder="備註">
							</div>
						</div>						
      		</form>
      	</div>      	
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">確定</button>
          <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">取消</button>
      </div>
  </script>
  <!-- End Modal -->

  <!-- Modal dialog for list new shipping item -->
  <script type="text/ng-template" id="shprItemListModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">品項清單</h3>
    </div>
    <div class="modal-body" id="modal-body">
    	<div class="container-fluid">
				<label class="col-sm-2 col-form-label">搜尋</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="$ctrl.itemSearch">
				</div>
				<hr>
    	</div>
			<div class="container-fluid">
				<div class="table-responsive">
		  		<table class="table">
		  			<tr>
		  				<th>編號</th>
		  				<th>名稱</th>
		  				<th>單價</th>
		  			</tr>
		  			<tr ng-repeat="item in $ctrl.itemList | filter:$ctrl.itemSearch" ng-dblclick="$ctrl.selectItem(item)">
		  				<td> {{item.id}} </td>
		  				<td> {{item.name}} </td>
		  				<td> {{item.sp}} </td>
		  			</tr>
		  		</table>
				</div>
			</div>
    </div>	
  </script>

  <!-- Modal dialog for look up customer -->
  <script type="text/ng-template" id="custIdListModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">客戶清單</h3>
    </div>
    <div class="modal-body" id="modal-body">
			<div class="container-fluid">
				<div class="table-responsive">
		  		<table class="table">
		  			<tr>
		  				<th>客戶編號</th>
		  				<th>名稱</th>
		  			</tr>
		  			<tr ng-repeat="cust in $ctrl.custList" ng-dblclick="$ctrl.selectCust(cust)">
		  				<td> {{cust.id}} </td>
		  				<td> {{cust.shortName}} </td>
		  			</tr>
		  		</table>
				</div>
			</div>
    </div>
  </script>
</div>
</body>
</html>
