<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<body>

<!--
ng-app : define an AngularJS application
ng-model : bind the value of HTML controls(input, select, textarea) to application data
ng-bind : bind application data to the HTML view
ng-init : initialize AngularJS application variables

<if you want make your page HTML valid, then use>
data-ng-app
data-ng-model
data-ng-bind
data-ng-init
-->

<!--
{{ expression }}  : AngularJS expression, AngularJS will "output" data exactly where the expression is written
-->

<!--
ng-app : defines the application 
ng-controller : defines the controller.
-->

<div ng-app="myApp" ng-controller="myCtrl" ng-init="myCol='lightblue';person={firstName:'John',lastName:'Doe'};points=[1,15,19,2]">
	<p>Input something in the input box:</p>
	First Name: <input type="text" ng-model="firstName"><br>
	Last Name: <input type="text" ng-model="lastName"><br>
	<br>
	Full Name: {{firstName + " " + lastName}}

	<p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
	<h1>Hello {{name}}</h1>
	<p ng-bind="firstName"></p>
	<p>The Name is <span ng-bind="name"></span></p>
	<p>My first expression: {{ 5 + 5 }}</p>
	<br>
	<p>Change the value of the input field:</p>
	<input style="background-color:{{myCol}}" ng-model="myCol" value="{{myCol}}">
	<p>AngularJS resolves the expression and returns the result.</p>
	<p>The background color of the input box will be whatever you write in the input field.</p>
	<br>
	<p>Total in dollar: {{ quantity * cost }}</p>
	<p>Total in dollar: <span ng-bind="quantity * cost"></span></p>

	<!-- example of using AngularJS Object -->
	<br>
	<p>The first name is {{ person.firstName }}</p>
	<p>The last name is <span ng-bind="person.lastName"></span></p>

	<!-- example of using AngularJS Array -->
	<p>The third result is {{ points[2] }}</p>
	<p>The third result is <span ng-bind="points[2]"></span></p>
	<br>
</div>

<script type="text/javascript">
	
	var app = angular.module('myApp', []);  //AngularJS modules define AngularJS applications.
	app.controller('myCtrl', function($scope) { //AngularJS controllers control AngularJS applications.
    $scope.firstName= "John";
    $scope.lastName= "Doe";
    $scope.name = "Welen Tsai";
	});
	
</script>
</body>
</html>